body{
	color: #101010;
	background: #d0d0d0;
	font-family: 'Droid Serif', serif;
	}
#wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	background: darkgrey
}
#logo {
	width: 30%;
	height: 28%;
	float:left;
	border: thin solid red;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arial;
	color: black;
	
}
p{
font-size: 1.0em
}
a:hover {
}
ul li {
	list-style-type: none;
}
#header {height: 100px;}
#logo{
	font-family: 'Merienda', cursive;
	font-size:2.5em;
	text-shadow:6px 6px 6px blue;
	margin: 0;
	float: left;
}
#topnav {
	margin-right: 5%;
	width:40%;
	float: right;
}
#topnav li{
	display: inline;
	
}
#topnav li a {
	color: black;
	padding: 3%;	
}
#topnav li a:hover{
	color: white;
	background: blue;
}
#what{
	-moz-column-count: 3;	
}

#imagegallery{
	border: thin solid black;
	width: 80%;
	display:block;	
}
#imagegallery li {
}
#imagegallery li img {
	width:200px;
	height:214px;
	float: left;
	margin: 4px;
}
#imagegallery li img:hover {
-moz-box-shadow:    3px 3px 5px 6px blue;
  -webkit-box-shadow: 3px 3px 5px 6px blue;
  box-shadow:         3px 3px 5px 6px blue;
}
#footer {border: thin solid red; clear:both;}

/* for 980px or less */
@media screen and (max-width: 980px) {
		div#wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	background: grey;
	
}
}


/* for 700px or less */
@media screen and (max-width: 700px) {

	#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: green; 
	}
	
	#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	text-shadow:3px 3px 3px #d8d8d8;
	margin: 0;
	float: left;
	}	
 
}
/*=================================================================== */
/* for 480px or less */
@media screen and (max-width: 480px) {

	#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: none; 
	}
	
	#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	margin: 0;
	float: left;
	}	
  	#what{
	-moz-column-count: 2;	
}
	
}

/* for 320px or less */
@media screen and (max-width: 320px) {

	#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 1%;
	background: none; 
	}
	
#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	margin: 0;
	float: left;
}	
#topnav {
	width:100%;
	float: right;
	border: thin solid pink;
	clear: both;
}
#topnav li {
	display:block;
	border:thin solid white;
	height: 3em;
	margin: .5em 0;
	background-color: rgba (29,28,82,0.8);
	color: black;
	text-align: center;
	padding-top:1%;
	font-size:17px;
	height:10%;
}
	#topnav li a:hover{
	color: white;
	background: blue;
}
	#gallery{
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
p{
	font-size: .7em
}
li{
	font-size: .7em
}
#what{
	-moz-column-count: 1;	
}
#topnav {
	margin: 0;
	clear: both;
}
#topnav li{
	display: block;
	
}
h2{
font-size:70%;}
}

